<!DOCTYPE HTML>
<html>
<head>
<title>Overview</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/JFCore.js"></script>
		
		<!-- Set here the key for your domain in order to hide the watermark on the web server -->
		<script type="text/javascript">
			(function() {
				JC.init({
					domainKey: ''
				});
				})();
		</script>
		

</head>
<body>
<div class="wrap">
<!-- tab style-1 -->
<div class="row">
	<div class="grid_12 columns">
		<div class="tab style-1">
    					<dl>
 			              <dd class="users"><a class="user active" value="abut us" href="#tab1" > </a></dd>
    						<dd class="messages"><a class="msg" href="#tab2"> </a></dd>
    						<dd class="settings"><a class="setting" href="#tab3"> </a></dd>
    						<dd class="likes"><a class="like" href="#tab4"> </a></dd>
    						<dd class="likes"><a class="like" href="#tab5"> </a></dd>

							
    					</dl>
    					<ul>
    						<li class="active">
			    				<div class="form">	
								
										<input type="text" class="active textbox" value="Gender" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="date" class="textbox" value="Date of Birth" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Citizenship" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="active textbox" value="Occupation" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="Industry" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Family Structure" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="active textbox" value="Number of dependents" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="Accountant" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Lawyer" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="Insurance Agent" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value=" Investment Advisor" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<select>
										  <option value="Inheritance">Inheritance</option>
										  <option value="Gift">Gift</option>
										  <option value="Trust">Trust</option>
										  <option value="Employment">Employment</option>
										</select>
										<input type="submit" value="SUBMIT">
							    </div>
							</li>
    						<li><div class="top-grids">
					      			<div class="form">		
									SPOUSE/ PARTNER INCOME
										<input type="text" class="active textbox" value="EMPLOYMENT INCOME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="BUSINESS INCOME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="PENSIONS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="GOVERNMENT BENEFITS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="INVESTMENT EARNINGS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="REALESTATE/ RENTAL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="BONUSES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="STUDENT LOANS RECEIVED" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="ALLOWANCES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="OTHER INCOME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="(MINUS)TAXES & WITH HOLDINGS/DEDUCTIONS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										
										<input type="submit" value="SUBMIT">
							    </div>
									<div class="form">		
									OUTFLOW</BR>
									RESIDENCE EXPENSES
										<input type="text" class="active textbox" value="MORTGAGE & RENT" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="PROPERTY FEES & DUES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="PROPERTY TAXES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="REPAIRS & MAINTENANCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="INSURANCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="UTILITIES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="CABLE,INTERNET& PHONE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="HOUSEHOLD ITEMS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										
										<input type="submit" value="ADD EXPENSE">
							    </div>
								<div class="form">		
									TRANSPORTATION EXPENSES
										<input type="text" class="active textbox" value="FUEL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="LICENSE & REGISTRATION" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="VEHICLE FINANCING" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="REPAIRS & MAINTENANCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="INSURANCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="TOLLS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="PARKING" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="TRANSIT" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
									
										<input type="submit" value="ADD EXPENSE">
							    </div>
								<div class="form">		
									PERSONAL EXPENSE
										<input type="text" class="active textbox" value="GROCERIES & MEALS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="CLOTHING & JEWELRY" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="PERSONAL CARE & GROOMING" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="ENTERTAINMENT & HOBBIES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="DINING" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="CHILD CARE& CHILD ACTIVITIES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="PET CARE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="MEMBERSHIPS & SUBSCRIPTIONS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="VACATION FUND" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="CHARITES & GIFTS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
									
										<input type="submit" value="ADD EXPENSE">
							    </div>
								
								<div class="form">		
									Health & Insurance Expenses
										<input type="text" class="active textbox" value="HEALTH INSURANCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="LIFE INSURANCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="DISABILITY INSURANCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="CRITICAL ILLNESS INSURANCE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="DENTAL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="VISION" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="MEDICAL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="PRESCRIPTIONS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										
										<input type="submit" value="SUBMIT">
							    </div>
								 			<div class="form">	
											Debts											
										<input type="text" class="active textbox" value="Personal Loans" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="Credit cards" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Credit Lines" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="Education Loans" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="Business Loans" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="Consolidated Loans" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="Investment Loan" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="submit" value="Add Debts">
							    </div>
								
      							</div>   		
								<div class="clear"> </div>
							</li>
    						<li>
    							<div class="settings">
								
	    							<div class="form">	
										MORTGAGES									
										<input type="text" class="active textbox" value=" PERSONAL RESIDENCE MORTGAGE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="RECREATION PROPERTY MORTGAGES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="INVESTMENT PROPERTY MORTGAGES" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="submit" value="ADD DEBT">
									</div>
	    							<div class="form">	
										LINE OF CREDIT 									
										<input type="text" class="active textbox" value="EQUITY SECURED" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="UNSECURED" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="submit" value="ADD DEBT">
									</div>
	    							<div class="form">	
										Investable AssetsGES									
										<input type="text" class="active textbox" value=" Checking Accounts" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="Savings Accounts" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Health Savings Account" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="Taxable Investments" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="Life Insurance Cash Value" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="401(k)/DPSP" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="403(b)/LIRA" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="IRA/RRSP" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="submit" value="Add Asset">
									</div>
									<div class="form">	
										<H1>LIABILITIES	</H1></BR>
										CREDIT CARDS
										<input type="text" class="active textbox" value="MASTERCARD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="VISA" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="RETAIL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="submit" value="ADD DEBT">
									</div>
									<div class="form">	
										<H1>LOANS	</H1></BR>
										<input type="text" class="active textbox" value="PERSONAL LOANS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="STUDENT LOANS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="CAR LOANS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="CONSOLIDATION LOANS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="INVESTMENT LOANS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="text" class="textbox" value="BUSINESS LOANS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										<input type="submit" value="ADD DEBT">
									</div> 
    							</div>
    						</li>
    						<li>
					    		<div class="top-grids">
					      			<div class="form">	
										<h1>Insurance Coverage</h1></br>	Life Coverage								
										<table  style="width:100%; border: 1px solid black">
										  <tr>
											<th>Type of Policy</th>
											<th >Coverage ($)</th>
											<th>Beneficiary</th>

										  </tr>
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										</table>
								<input type="submit" value="ADD Policy">
									</div>
									<div class="form">	
									Disability Insurance
									<table  style="width:100%; border: 1px solid black">
										  <tr>
											<th>Insured</th>
											<th >Coverage ($)</th>
											<th>Target end date</th>

										  </tr>
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										</table>
								<input type="submit" value="ADD Policy">
									</div>
									<div class="form">	
									Critical Illness Insurance
									<table  style="width:100%; border: 1px solid black">
										  <tr>
											<th>Insured</th>
											<th >Coverage ($)</th>
											<th>Target end date</th>

										  </tr>
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										</table>
								<input type="submit" value="ADD Policy">
									</div>
									<div class="form">	
									Long- Term Care
									<table  style="width:100%; border: 1px solid black">
										  <tr>
											<th>Insured</th>
											<th >Coverage ($)</th>
											<th> </th>

										  </tr>
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										</table>
								<input type="submit" value="ADD Policy">
									</div>
									
									
									
					      		</div>    		
								<li class="like">
			    				<div class="form">	
								YOU BUSINESS
									<table  style="width:100%; border: 1px solid black">
										  <tr>
											<th>BUSINESS ASSETS FOR SOLE PROPRIETORS AND PARTNERSHIPA</th>
											<th ></th>
											<th> </th>
											<th> </th>

										  </tr>
										  <tr>
											<td>COMPANY</td>
											<td>%OWNERSHIP</td>
											<td>VALUE</td>
											<td>INVESTMENT ACCOUNTSINVESTMENT ACCOUNTS</td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										</table>
								<input type="submit" value="ADD Policy">
									</div>
									<div class="form">	
									<table  style="width:100%; border: 1px solid black">
										  <tr>
											<th>BUSINESS ASSETS FOR CORPORATIONS</th>
											<th ></th>
											<th> </th>
											<th> </th>

										  </tr>
										  <tr>
											<td>COMPANY</td>
											<td>%OWNERSHIP</td>
											<td>VALUE</td>
											<td>INVESTMENT ACCOUNTSINVESTMENT ACCOUNTS</td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										</table>
								<input type="submit" value="ADD Policy">
									</div>
									<div class="form">	
									<table  style="width:100%; border: 1px solid black">
										  <tr>
											<th>WITHDRAWALS</th>
											<th ></th>
											<th> </th>
											<th> </th>

										  </tr>
										  <tr>
											<td>DIVIDEND AMOUNT</td>
											<td>FREQUENCY</td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										  <tr>
											<td></td>
											<td></td>
											<td></td>
										  </tr> 
										</table>
								<input type="submit" value="ADD Policy">
									</div>
									
							</li>
								<div class="clear"> </div>
    						</li>
							<li>
					    		<div class="top-grids">
					      			<div class="form">		
										<input type="text" class="active textbox" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										
										<input type="submit" value="Register">
							    </div>
					      		</div>    		
								<div class="clear"> </div>
    						</li>
							<li>
					    		<div class="top-grids">
					      			<div class="form">		
										<input type="text" class="active textbox" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										
										<input type="submit" value="Register">
							    </div>
					      		</div>    		
								<div class="clear"> </div>
    						</li>
							<li>
					    		<div class="top-grids">
					      			<div class="form">		
										<input type="text" class="active textbox" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										
										<input type="submit" value="Register">
							    </div>
					      		</div>    		
								<div class="clear"> </div>
    						</li>
							<li>
					    		<div class="top-grids">
					      			<div class="form">		
										<input type="text" class="active textbox" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
										<input type="text" class="textbox" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
										<input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
										
										<input type="submit" value="Register">
							    </div>
					      		</div>    		
								<div class="clear"> </div>
    						</li>
    					</ul>
		</div>
</div>            
</div>			
</div>
<div class="wrap">
	<!--footer-->

<div class="clear"> </div>
</div>
    </body>
</html>